* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #36454F;

}

a {
  color: inherit;
  text-decoration: none;
}
.spline {
  border-radius: 20px;
  overflow: hidden;
}
.navBtn {
  margin-top: 2 !important;
  margin-bottom: 2 !important;
  color: #404040 !important;
  display: block !important; 
}
.title {
  color: #242424 !important;
  letter-spacing: -1.9px !important;
  font-weight: 900 !important;
  min-width: 300px;
  max-width: 420px;
}
.subTitle {
  line-height: 1.5 !important;
  letter-spacing: -0.7px !important;
  color: #000000 !important;
  font-weight: 400 !important;
  white-space: pre-line !important;
  max-width: 400px;
}
.responsiveImage {
  width: 100% !important;
  height: auto !important;
}
.purpleButton {
  background-color: #706DC5;
}
.purpleButton:hover {
  background-color: #706DC5;
}
.imageContainer {
  min-height: 250px;
  max-width: 300px;
  padding-top: 2rem;
}
.purpleButtonEnd {
  background-color: #FFE5E5 !important;
  position: absolute;
  margin: 1rem 0rem 0rem 1rem;
}
@media only screen and (max-width: 600px) {
  .splineOpen {
    width: 90%,

  }
}
@media only screen and (orientation: landscape) and (max-width: 600px){
  .navBar {
    display: none;
  }
}